/* Main */

body {
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: #d2d2d2;
    font-family: century gothic;
}

h1 {
    padding: 15px;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}

h2 {
    padding-top: 15px; 
    padding-bottom: 10px;
    text-align: center;
    font-size: 2em;
    color: #d2d2d2;
}

h3 {
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #3783a3;
    font-size: 1.5em;
}

h4 {
    padding: 10px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

p {
    padding: 0px 10px 0px 10px;
    font-size: 1em;
}

a {
    text-decoration:none;
    color: #3783a3;   
}

a:hover {
    transition: 0.25s;
    color: #a36937;   
}

#header {
    height: 50px;
    padding-right: 2px;
    background-color: #0c0c0c;
}

.headerspace-01 {
    width: 100%;
    height: 50px; 
}

.headerspace-02 {    
    height: 30px;
    background-color: #0c0c0c;
}

.headerspace-03 {
    width: 100%;
    height: 80px;
    background-color: #0c0c0c;
}

nav {
    height: 50px;
    background-color: #0c0c0c;
  }

nav ul {    
    list-style-type:none;
    padding:0px;
    width: 100%;
    display: table;
    text-align: right;
}

nav ul li {    
    display: inline;
    margin-right: 1px;
    padding: 10px 0px 15px 0px;
    background:#1d1d1d;
    
}

nav ul li a {    
    display:inline-block;
    padding:11px 15px; 
    text-align:center;
    text-decoration:none;
    color: #d2d2d2;          
}

nav ul li:hover {
    background-color: #3783a3;   
    text-decoration:none;
    padding: 10px 0px 15px 0px;
    transition: 0.25s;
}

nav ul li a:hover {    
    color: #ffffff;

}

#titlediv {
    height: 100px;
    background-color: #0c0c0c;
}


#titleinnerdiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border: 3px solid #3783a3;
    background-color: #0c0c0c;
}

#subtitlediv {
    border-top: 3px solid #3783a3;
    background-color: #1d1d1d;
}

#mainsection {
    background-color: #0c0c0c;
}

/* Aside */

#aside {
    border-right: 3px solid #3783a3;
    text-align: right;
    background-color: #0c0c0c;
}

#contact {
    margin-bottom: 30px;
}

/* Skilltree */

.borderbox {
    padding-left: 10px;
}

.skill {
    display: inline-block;
    width: fit-content;
}

.skilltitle {
    margin-top: 30px;
    border-bottom: 1px solid #3783a3;
    font-size: 1.5em;
}

.skillicon {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.tag {
    text-align: left;
    padding: 0px 10px 0px 10px;
}

.titlehl {
    margin-bottom: 0px;
    font-size: 1.2em;
    
}

.xpdate {
    color: #919191;
}

.row ul {
    list-style-type:none;
}

.row ul li {
    margin-left: -35px;
}

.row ul li p {
    margin-left: 25px;
}

.notmargin {
    margin-bottom: 30px;
}

#UTN, #CODER, #ARGPROG, #ECA {
    width: 95%;
    height: auto;
    margin: 0px 0px 50px 10px;
}

#certification {
    color: #3783a3;   
}

#certification:hover {
    transition: 0.25s;
    color: #a36937;   
}

#profilepic {
    margin-bottom: 30px;
    border-radius: 100%;
    width: 95%;
}

#footer{
    height: 50px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;   
    background-color: #1d1d1d;
    z-index:100
}

/* Switch */

#daynightbox {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;   
}

#daybox {
    width: fit-content;
    height: 34px;  
    margin-top: 0px;
    padding-top: 4px;
    display: inline-block;
    position: relative;
}

#nightbox {
    width: fit-content;
    height: 34px;
    margin-top: 0px;
    padding-top: 4px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

#switchbox {
    width: fit-content;
    height: 34px;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    top: -4px;
    margin-top: 8px;
}

#sun {
    width: 24px;
    height: auto;    
}

#night {
    width: 24px;
    height: auto;    
}

.switch {    
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
  
input:checked + .slider {
background-color: #3783a3;
}

input:focus + .slider {
box-shadow: 0 0 1px #3783a3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}  
  
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 

@media all and (max-width: 767px){    

    #mainsection {
        width: 100%;
    }

    #aside {
        width: 100%;
        text-align: center;
        border: 0px;
    }

    #profilepic {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
    }

    #contact {
        margin-bottom: 30px;
    }

    #about {
        padding-top: 30px;
    }

    #mainsection .row .col-7 {
        width: 100%;
    }

    #mainsection .row .col-3 {
        width: 40%;
        margin-left: 10px;
    }    

    #mainsection .row .col-5 {
        margin-left: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {

    #aside {
        width: 100%;
        text-align: center;
        border: 0px;
    }

    #profilepic {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {

    #aside {
        text-align: left;
    }

    #aside .row {
        width: 50%;
        padding-left: 10%;
        float: left;
    }

    #profilepic {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
    }
}

@media all and (min-width: 767px) and (max-width: 1199px) {

    #aside {
        width: 100%;
        padding-bottom: 30px;
        border: 0px;
    }

    #mainsection {
        width: 100%;
    }

    #mainsection .row .col-7 {
        width: 100%;
    }

    #mainsection .row .col-3 {
        width: 40%;
        margin-left: 10px;
    }
    
    #mainsection .row .col-5 {
        margin-left: 10px;
    }
}

